.feedback__container {
  display: flex;
  gap: 12px;
}
.feedback__button {
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 10%;
}
.feedback__button:hover {
  background-color: blue;
  color: white;
  border-color: blue;
}
.feedback__button:focus {
  background-color: blue;
  color: white;
  border-color: blue;
}
